<%= open_graph_tags title: t(".title") %>

<div class="container mx-auto overflow-hidden py-24 flex flex-col justify-center py-12">
  <% if @conversations.any? %>
    <% unless turbo_native_app? %>
      <h1 class="mt-6 text-center text-3xl font-extrabold"><%= t(".title") %></h1>
    <% end %>


  <%= render @conversations %>

  <% else %>
      <%= render EmptyStateComponent.new(t(".empty_state.title"), "inbox", body: t(".empty_state.body"), cta: t(".empty_state.cta"), cta_path: developers_path, cta_icon: "search") %>
  <% end %>
</div>
