<% if specialties.any? %>
  <div class="flex flex-wrap items-start">
    <% specialties.take(3).each do |specialty| %>
      <div class="mx-1">
        <%= render BadgeComponent.new(specialty.name, color: "black") %>
      </div>
    <% end %>
  </div>
<% end %>
