<div class="relative overflow-x-auto">
  <table class="w-full text-xs divide-y divide-gray-200">
    <thead class="bg-red-50">
      <tr>
        <% headers.each do |header| %>
          <%= header %>
        <% end %>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200 bg-white">
      <% rows.each do |row| %>
        <%= row %>
      <% end %>
    </tbody>
  </table>
</div>
