canvas {
    display: none;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    transform: rotate(-15deg);
    height: 74vh;
}

@media screen(sm) {
    canvas {
        display: block;
    }
}