.rocket {
    top: 0;
    right: 0;
}

.launch {
    -webkit-animation:liftoff 2.2s linear 1s;
    animation:liftoff 2.2s linear 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode:forwards;
    -webkit-animation-timing-function: cubic-bezier(0.1, -0.1, 0.2, 0);
    animation-timing-function: cubic-bezier(0.1, -0.1, 0.2, 0);
}

@keyframes liftoff {
    0%{transform:translate(0px ,0px);
        opacity:1;}
    70%{opacity:0.6;}
    100%{transform:translate(0px ,-800px);
        opacity:0;}
}