.hero {
    width: 100%;
    height: 70vh;
    background-image: url("/images/splash-header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    overflow: hidden;
}

/*.hero:before {*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-image: url("/images/splash-header-lev0.png");*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    z-index: -1;*/
/*}*/

.hero:after {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/images/splash-header-lev2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
}

.hero .container {

}

.hero h2 {
    /*text-transform: uppercase;*/
    font-weight: bold;
    font-size: 2em;
    line-height: 1em;
    width: 100%;
    padding: 25px;
    margin-top: 50vh;
    margin-bottom: 0;
    position: fixed;
}

@media screen(sm) {
    .hero {
        height: 100vh;
        background-image: url("/images/splash-header-lev3.png");
    }
    .hero:before, .hero:after {
        content: "";
    }
    .hero h2 {
        font-size: 4em;
        width: 38%;
        margin-top: 0;
        margin-bottom: 100px;
    }
}